[submodule ".registry"]
	path = .registry
	url = https://github.com/computationalproteomics/computationalproteomics.r-universe.dev
	branch = HEAD
[submodule "proteoDeconv"]
	path = proteoDeconv
	url = https://github.com/ComputationalProteomics/proteoDeconv
