[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NormalyzerDE"]
	path = NormalyzerDE
	url = https://github.com/computationalproteomics/normalyzerde
